[Unit]
Description=github-local-redirect
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/opt/github-local-redirect/.venv/bin/python /opt/github-local-redirect/app.py

[Install]
WantedBy=multi-user.target
