[Unit]
Description=github-local-redirect
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/github-local-redirect/.venv/bin/python /opt/github-local-redirect/app.py

[Install]
WantedBy=multi-user.target
