[Unit]
Description=github-local-redirect
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/opt/github-local-redirect
ExecStart=/opt/github-local-redirect/.venv/bin/gunicorn --workers=4 --bind 0.0.0.0:80 app:app

[Install]
WantedBy=multi-user.target
